@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url('/helveticaneue-medium.woff2');
}

@font-face {
  font-family: font2;
  src: url('/helveticaneue.woff2');
}

@font-face {
  font-family: font3;
  src: url('/Poppins-Regular.ttfn');
}
@font-face {
  font-family: font4;
  src: url('/font44.otf');
}
@font-face {
  font-family: font5;
  src: url('/fonnts.com-Ivy-Journal-Light.otf');
}

*{ 

box-sizing: border-box;
}

html,body{
  margin:0;
padding:0;
width:100%;
height:100%;

}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
#navbar{
  padding: 30px;
}